.Header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Toolbar {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Table {
  background-color: #282c34;
  min-height: 75vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 auto;
}

.table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

th, td{
  padding: 0.5%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}